<div class="book-index">
  <div class="book-card" ng-repeat="book in ctrl.books">
    <div class="img-like">
      <img  ng-src={{book.volumeInfo.imageLinks.smallThumbnail}}>
      <h2>+</h2>
    </div>
    <h4>{{book.volumeInfo.title}}</h4>
    <div class="author">
      <h5 class="by">by</h5>
      <h5> {{book.volumeInfo.authors[0]}}</h5>
      <h5 ng-if="book.volumeInfo.authors.length >= 1">, ...</h5>
    </div>
  </div>
</div>
<!-- <div class="collapser">
  <a href="/">
    <div class="triangle-up">
    </div>
    <h3>show less</h3>
  </a>
</div> -->
